<p>FORMULARIO DE INSCRIPCION DE DATOS DE ALUMNO</p>

<form [formGroup]='alumnoForm'>
    <div class="datosPersona">
        <label>Nombre
            <input type="text" formControlName="nombre">
        </label>
        <label>Apellido
            <input type="text" formControlName="apellido">
        </label>
        <label>Edad
            <input type="text" formControlName="edad">
        </label>
        <label>Materia
            <select matNativeControl required formControlName="materia">
                <option value="MongoDB">MongoDB</option>
                <option value="Javascript">Javascript</option>
                <option value="NodeJS">NodeJS</option>
              </select>
        </label>
        <label>Año de Cursada
            <input type="text" formControlName="anioCursada">
        </label>
    </div>

    <button mat-stroked-button (click)="onEnviarAlumno()">Enviar Datos de Alumno</button>

    

</form>