<p>FORMULARIO DE INSCRIPCION DE DATOS DE ALUMNO</p>

<form [formGroup]='alumnoForm'>
    <div class="datosPersona">
        <label>Nombre
            <input type="text" formControlName="nombre">
        </label>
        <label>Apellido
            <input type="text" formControlName="apellido">
        </label>
        <label>Edad
            <input type="text" formControlName="edad">
        </label>
        <label>Materia
            <input type="text" formControlName="materia">
        </label>
        <label>Año de Cursada
            <input type="text" formControlName="anioCursada">
        </label>
    </div>

    <button mat-stroked-button (click)="onEnviarAlumno()">Enviar Datos de Alumno</button>

    

</form>

<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>